* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

body {
  font-family: $fontFamily, sans-serif;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: $wrapperWidth;
  margin: 0 auto;
  padding: 0 $wrapperPadding
}

a {
  text-decoration: none;
}