@media (max-width: 1400px) {
    .menu {
        &__item {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .slides__img {
        max-width: 70%;
    }

    .message {
        font-size: 36px;
        line-height: 48px;
    }
}

@media (max-width: 1200px) {
    .menu {
        position: static;
  
        &__toggle {
            display: block;
        }
        
        &__list {
            position: fixed;
            z-index: 3;
            left: 0;
            top: 0;
            justify-content: flex-start;
            flex-direction: column;
            padding: 30px 15px 0;
            width: 100%;
            height: 100%;
            background: #F3F6F3;
            transform: translateX(100%);
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s, transform .3s;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        &__item {
            margin: 15px 0;
            width: 100%;
            
            &:not(:last-child) {
                margin-right: 0;
            }

            &_has-children {
                padding-right: 0;

                &:before, &:after {
                    transform-origin: 9px 50%;
                    top: 10px;
                }

                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                    right: 10px;
                }

                .menu__link {
                    text-shadow: none;
                }
            }

            &_active {
                margin-top: 0;

                .menu__submenu {
                    transform: translateX(0);
                    visibility: visible;
                    height: max-content;
                }
            }
        }
        
        &__link {
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
            padding-bottom: 15px;
            display: block;
        }

        &__logo {
            display: initial;
        }

        &__cart-btn {
            display: flex;
            align-self: center;
        }

        &__search,
        &__worktime,
        &__btn {
            display: block;
        }

        &__search {
            width: 100%;
            margin: 40px 0 5px;
        }

        &__phone {
            display: inline-block;
        }

        &_active {
            .menu__toggle {
                display: none;
            }
  
            .menu__list {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }

            .menu__close {
                display: inline-block;
                margin-left: auto;
                margin-right: 15px;
            }
        }

        &__back {
            display: none;
            width: 100%;
            text-align: left;
        }

        &_open {
            .menu__back {
                display: block;
            }

            .menu__item {
                display: none;

                &_active {
                    display: block;

                    &:before,
                    &:after,
                    .menu__link {
                        display: none;
                    }
                }
            }
        }
    }

    .submenu {
        background: #F3F6F3;
        width: 100%;
        top: 0;
        z-index: 1;
        position: relative;
        opacity: 1;
        visibility: hidden;
        padding-top: 0;
        transition: transform .3s, visibility .3s, height .3s;
        height: 0;
        transform: translateX(150%);

        &__btn {
            padding-left: 0;
            color: #000;
            font-weight: 400;
        }

        &__item {
            background: transparent;
            box-shadow: none;

            &:not(:last-child) {
                border-bottom-color: $color-primary;
            }

            &_has-children {
                .submenu__btn {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .cart-btn {
        &:before {
            width: 40px;
            height: 40px;
        }
    }

    .search-field {
        &__input {
            width: 218px;
        }
    }

    .header {
        &__contact {
            font-size: 18px;

            &.contact_instagram {
                span {
                    display: none;
                }
            }
        }
    }

    .slides {
       .swiper-pagination-bullet-active {
           width: 210px;
           padding: 18px;
       }
    }

    .message {
        font-size: 32px;
        line-height: 42px;
    }

    .scopes {
        &__message {
            padding-left: 0;
        }
    }

    .category {
        &__name {
            font-size: 18px;
            line-height: 23px;
        }
    }

    .callback {
        padding: 80px 30px 40px;

        &__title2 {
            font-size: 32px;
            line-height: 40px;
        }

        &__text {
            margin-top: 28px;
            font-size: 24px;
            line-height: 30px;
        }

        &__content {
            padding: 33px;
        }

        &__message {
            font-size: 20px;
            line-height: 25px;
        }
    }

    .cb-form {
        &__submit {
            margin-top: 10px;
        }
    }
}

@media (max-width: 1100px) {
    .header {
        &__contact {
            &.contact_email {
                span {
                    display: none;
                }
            }
        }
    }

    .search-field {
        &__input {
            &::placeholder {
                visibility: hidden;
            }
        }
    }
}

@media (max-width: 992px) {
    .title1 {
        text-align: center;
        font-size: 28px;
        line-height: 35px;
    }

    .logo {
        width: 173px;
    }

    .header {
        &__contact {
            &.contact_phone {
                span {
                    display: none;
                }
            }
        }
    }

    .slides {
        padding: 40px 40px 0;

        &__list {
            margin-top: 10px;
            padding-bottom: 25px;
            height: auto;
        }

        &__img {
            max-width: 100%;
        }
        
        &__fraction,
        .swiper-scrollbar {
            display: none;
        }

        &__controls {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-pagination {
            position: static;
            display: flex;
            justify-content: center;
            width: auto;
            margin: 0 15px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: static;
            margin: 0;
        }

        .swiper-pagination-bullet {
            font-size: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid $color-primary;
            display: block;

            &:not(:last-child) {
                margin: 0 12px 0 0 !important;
            }

            &:last-child {
                margin: 0 !important;
            }
        }

        .swiper-pagination-bullet-active {
            padding: 0;
            box-shadow: none;
        }
    }

    .scopes {
        padding-top: 60px;

        &__title2 {
            margin-bottom: 20px;
        }

        &__list {
            order: 2;
        }

        &__item {
            margin: 30px 0;
        }

        &__message {
            text-align: center;
        }

        &__btn {
            margin-top: 40px;
        }
    }

    .card {
        padding: 30px 20px;
        
        &__img {
            max-width: 220px;
        }

        &__name {
            font-size: 22px;
            line-height: 25px;
            margin-top: 40px;
        }

        &__text {
            font-size: 14px;
            line-height: 21px;
        }

        &__btn {
            width: 210px;
        }
    }

    .callback {
        &__text {

        }
    }

    .cb-form {
        max-width: 390px;
    }
}

@media (max-width: 768px) {
    .logo {
        width: 40px;

        &__img {
            display: none;

            &_mobile {
                display: initial;
            }
        }
    }

    .menu {
        &__cart-btn {
            background: transparent;
            
            span {
                display: none;
            }
        }

        &__logo {
            width: 173px;
        }
    }

    .header {
        &__top {
            justify-content: flex-start;
        }

        &__contact {
            margin-right: 30px;
            display: inline-block;

            svg {
                margin-right: 0;
            }

            &.contact_phone {
                margin-left: 30px;
            }
        }

        &__cart-btn {
            margin-left: auto;
        }
        
        &__btn {
            display: none;
        }
    }

    .main {
        &__content {
            margin: 0 -12px;
        }
    }

    .single-category {
        text-align: center;

        &__inf {
            order: 2;
        }

        &__title {
            margin-top: 50px;
            font-size: 28px;
            line-height: 35px;
        }

        &__text {
            margin-top: 25px;
        }
    }
}

@media (max-width: 480px) {
    .title1 {
        font-size: 18px;
        line-height: 23px;
    }

    .title2 {
        font-size: 28px;
        line-height: 35px;
    }

    .title3 {
        font-size: 18px;
        line-height: 23px;
    }

    .text {
        font-size: 14px;
        line-height: 18px;
    }

    .header {
        height: 120px;

        &__top-content {
            padding-top: 15px;
        }

        &__bottom-content {
            padding-top: 5px;
        }

        &_reduced {
            height: 71px;
        }
    }

    .menu {
        &__cart-btn {
            margin-left: 35px;
        }
    }

    .slides {
        padding: 25px 0 0;
    }

    .breadcrumb {
        padding: 15px 20px 0;
    }

    .features {
        padding-top: 45px;

        &__name {
            font-size: 22px;
            line-height: 26px;
        }

        &__text {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .message {
        font-size: 24px;
        line-height: 32px;
    }

    .scopes {
        padding: 45px 15px 0;

        &__item {
            margin: 25px 0;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__item-inf {
            margin-left: 0;
            margin-top: 15px;
        }

        &__item-text {
            font-size: 16px;
            line-height: 26px;
        }

        &__img {
            max-width: 210px;
        }

        &__btn {
            margin-top: 35px;
        }
    }

    .cards {
        padding: 60px 20px 0;

        &__title2 {
            margin-bottom: 40px;
        }
    }

    .card {
        &__name {
            margin-top: 10px;
        }

        &__text {
            margin-bottom: 30px;
        }
    }

    .categories {
        padding: 60px 40px 0;
    }

    .category {
        &__img {
            max-width: 144px;
        }
    }

    .single-category {
        padding: 55px 27px 0;

        &__title {
            margin-top: 40px;
            font-size: 28px;
            line-height: 35px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
        }
    }
}