@media (max-width: 1400px) {
    .menu {
        &__item {
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
    }

    .slides__img {
        max-width: 70%;
    }

    .message {
        font-size: 36px;
        line-height: 48px;
    }

    .footer {
        &__contacts {
            padding-top: 27px;
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            max-width: 980px;
            margin: 0 auto;
        }

        &__logo {
            margin-right: 200px;
        }
    }

    .product-item {
        padding: 20px 25px 20px 12px;

        &__img-link {
            width: 120px;
        }

        &__main {
            margin-left: 20px;
        }

        &__price {
            margin: 0 30px 0 20px;
        }
    }
}

@media (max-width: 1200px) {
    .menu {
        position: static;
  
        &__toggle {
            display: block;
        }
        
        &__list {
            position: fixed;
            z-index: 3;
            left: 0;
            top: 0;
            justify-content: flex-start;
            flex-direction: column;
            padding: 30px 15px 0;
            width: 100%;
            height: 100%;
            background: #F3F6F3;
            transform: translateX(100%);
            opacity: 0;
            visibility: hidden;
            transition: opacity .3s, visibility .3s, transform .3s;
            overflow-y: auto;
            overflow-x: hidden;
        }
        
        &__item {
            margin: 15px 0;
            width: 100%;
            
            &:not(:last-child) {
                margin-right: 0;
            }

            &_has-children {
                padding-right: 0;

                &:before, &:after {
                    transform-origin: 9px 50%;
                    top: 10px;
                }

                &:before {
                    transform: rotate(-45deg);
                }

                &:after {
                    transform: rotate(45deg);
                    right: 10px;
                }

                .menu__link {
                    text-shadow: none;
                }
            }

            &_active {
                margin-top: 0;

                .menu__submenu {
                    transform: translateX(0);
                    visibility: visible;
                    height: max-content;
                }
            }
        }
        
        &__link {
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
            color: $color-primary;
            border-bottom: 1px solid $color-primary;
            padding-bottom: 15px;
            display: block;
        }

        &__logo {
            display: initial;
        }

        &__cart-btn {
            display: flex;
            align-self: center;
        }

        &__search,
        &__worktime,
        &__btn {
            display: block;
        }

        &__search {
            width: 100%;
            margin: 40px 0 5px;
        }

        &__phone {
            display: inline-block;
        }

        &_active {
            .menu__toggle {
                display: none;
            }
  
            .menu__list {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }

            .menu__close {
                display: inline-block;
                margin-left: auto;
                margin-right: 15px;
            }
        }

        &__back {
            display: none;
            width: 100%;
            text-align: left;
        }

        &_open {
            .menu__back {
                display: block;
            }

            .menu__item {
                display: none;

                &_active {
                    display: block;

                    &:before,
                    &:after,
                    .menu__link {
                        display: none;
                    }
                }
            }
        }
    }

    .submenu {
        background: #F3F6F3;
        width: 100%;
        top: 0;
        z-index: 1;
        position: relative;
        opacity: 1;
        visibility: hidden;
        padding-top: 0;
        transition: transform .3s, visibility .3s, height .3s;
        height: 0;
        transform: translateX(150%);

        &__btn {
            padding-left: 0;
            color: #000;
            font-weight: 400;
        }

        &__item {
            background: transparent;
            box-shadow: none;

            &:not(:last-child) {
                border-bottom-color: $color-primary;
            }

            &_has-children {
                .submenu__btn {
                    &:before {
                        display: none;
                    }
                }
            }
        }
    }

    .cart-btn {
        &:before {
            width: 40px;
            height: 40px;
        }
    }

    .search-field {
        &__input {
            width: 218px;
        }
    }

    .header {
        &__contact {
            font-size: 18px;

            &.contact_instagram {
                span {
                    display: none;
                }
            }
        }
    }

    .slides {
       .swiper-pagination-bullet-active {
           width: 210px;
           padding: 18px;
       }
    }

    .message {
        font-size: 32px;
        line-height: 42px;
    }

    .scopes {
        &__message {
            padding-left: 0;
        }
    }

    .categories {
        &__btn {
            font-size: 22px;
            line-height: 28px;
            width: 236px;
        }
    }

    .category {
        &__name {
            font-size: 18px;
            line-height: 23px;
        }
    }

    .callback {
        padding: 80px 30px 40px;

        &__title2 {
            font-size: 32px;
            line-height: 40px;
        }

        &__text {
            margin-top: 28px;
            font-size: 24px;
            line-height: 30px;
        }

        &__content {
            padding: 33px;
        }

        &__message {
            font-size: 20px;
            line-height: 25px;
        }
    }

    .cb-form {
        &__submit {
            margin-top: 10px;
        }
    }

    .footer {
        &__logo {
            margin-right: 65px;
        }

        &__copyright {
            font-size: 18px;
            line-height: 23px;
        }
    }

    .contacts {
        padding-left: 33px;
        padding-right: 33px;

        &__name,
        &__contact.contact_phone,
        &__contact.contact_email {
            font-size: 24px;
            line-height: 30px;
        }

        &__contact.contact_address {
            font-size: 18px;
            line-height: 23px;
        }

        &__tip {
            max-width: 650px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .products {
        &__header {
            padding: 0;
        }
    }

    .product-list {
        &__download {
            display: none;
        }
    }

    .product-item {
        flex-wrap: wrap;

        &__main {
            width: 500px;
            max-width: 100%;
        }

        &__price {
            margin-left: auto;
            margin-right: 0;
        }

    }

    .article {
        padding: 10px 50px 0;
    }
}

@media (max-width: 1100px) {
    .header {
        &__contact {
            &.contact_email {
                span {
                    display: none;
                }
            }
        }
    }

    .search-field {
        &__input {
            &::placeholder {
                visibility: hidden;
            }
        }
    }
}

@media (max-width: 992px) {
    .title1 {
        text-align: center;
        font-size: 28px;
        line-height: 35px;
    }

    .title2 {
        font-size: 36px;
        line-height: 44px;
    }

    .logo {
        width: 173px;
    }

    .contact {
        font-size: 18px;
        line-height: 23px;
    }

    .header {
        &__contact {
            &.contact_phone {
                span {
                    display: none;
                }
            }
        }
    }

    .slides {
        padding: 40px 40px 0;

        &__list {
            margin-top: 10px;
            padding-bottom: 25px;
            height: auto;
        }

        &__img {
            max-width: 100%;
        }
        
        &__fraction,
        .swiper-scrollbar {
            display: none;
        }

        &__controls {
            position: absolute;
            bottom: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .swiper-pagination {
            position: static;
            display: flex;
            justify-content: center;
            width: auto;
            margin: 0 15px;
        }

        .swiper-button-prev,
        .swiper-button-next {
            position: static;
            margin: 0;
        }

        .swiper-pagination-bullet {
            font-size: 0;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 2px solid $color-primary;
            display: block;

            &:not(:last-child) {
                margin: 0 12px 0 0 !important;
            }

            &:last-child {
                margin: 0 !important;
            }
        }

        .swiper-pagination-bullet-active {
            padding: 0;
            box-shadow: none;
        }
    }

    .scopes {
        padding-top: 60px;

        &__title2 {
            margin-bottom: 20px;
        }

        &__list {
            order: 2;
        }

        &__item {
            margin: 30px 0;
        }

        &__message {
            text-align: center;
        }

        &__btn {
            margin-top: 40px;
        }
    }

    .card {
        padding: 30px 20px;
        
        &__img {
            max-width: 220px;
        }

        &__name {
            font-size: 22px;
            line-height: 25px;
            margin-top: 40px;
        }

        &__text {
            font-size: 14px;
            line-height: 21px;
        }

        &__btn {
            width: 210px;
        }
    }

    .callback {
        &__inf {
            padding-top: 17px;
        }

        &__icon {
            display: none;
        }
    }

    .cb-form {
        max-width: 390px;
    }

    .footer-menu {
        &__link {
            font-size: 18px;
            line-height: 23px;
        }
    }

    .footer {
        &__logo {
            margin-right: 52px;
        }

        &__menu {
            margin: 0;
        }

        &__contacts {
            padding: 27px 35px 0;
        }

        &__copyright {
            font-size: 14px;
            line-height: 18px;
        }

        &__privacy {
            font-size: 18px;
            line-height: 23px;
        }
    }

    .contacts {
        &__inf {
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: space-around;
        }

        &__item {
            &_address {
                width: 100%;
            }
        }

        &__name {
            margin-bottom: 10px;
        }

        &__contact.contact_address {
            font-size: 14px;
            line-height: 18px;
            justify-content: center;
        }

        &__map {
            margin: 20px auto 0;
            height: 230px;
            max-width: 340px;
        }

        &__tip {
            margin-top: 20px;
            font-size: 18px;
            line-height: 23px;
            max-width: 480px;
        }
    }

    .product-list {
        &__header {
            flex-wrap: wrap;
        }

        &__title {
            width: 100%;
        }

        &__sorts {
            margin: 10px 0 20px;
        }

        &__sort {
            margin-left: 0;
            margin-right: 10px;
        }
    }

    .product-item {
        justify-content: center;

        &__img-link {
            width: 150px;
        }

        &__main {
            margin-left: 0;
            width: 100%;
        }

        &__price {
            margin-left: 0;
            margin-right: auto;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__logo {
            width: 40px;

            .logo__img {
                display: none;

                &_mobile {
                    display: initial;
                }
            }

        }
    }

    .menu {
        &__cart-btn {
            background: transparent;
            
            span {
                display: none;
            }
        }

        &__logo {
            width: 173px;
        }
    }

    .header {
        &__top {
            justify-content: flex-start;
        }

        &__contact {
            margin-right: 30px;
            display: inline-block;

            svg {
                margin-right: 0;
            }

            &.contact_phone {
                margin-left: 30px;
            }
        }

        &__cart-btn {
            margin-left: auto;
        }
        
        &__btn {
            display: none;
        }
    }

    .main {
        &__content {
            margin: 0 -12px;
        }
    }

    .single-category {
        text-align: center;

        &__inf {
            order: 2;
        }

        &__title {
            margin-top: 50px;
            font-size: 28px;
            line-height: 35px;
        }

        &__text {
            margin-top: 25px;
        }
    }

    .callback {
        &__phone {
            font-size: 30px;
            line-height: 38px;
        }
    }

    .footer {
        padding: 40px 0 15px;

        &__logo {
            margin: 0 auto;
        }

        &__menu {
            display: none;
        }

        &__contacts {
            max-width: 170px;
            padding: 15px 0 0;
        }

        &__contact {
            span {
                display: none;
            }
        }

        &__bottom {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__copyright {
            margin-top: 10px;
            order: 2;
        }

        &__privacy {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .breadcrumb {
        &__link {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .price-list {
        padding: 25px;

        &__text {
            text-align: left;
        }
    }

    .price-item {
        &__img {
            display: none;
        }

        &__table {
            margin-left: 0;
        }
    }

    .products {
        &__bg {
            margin-right: auto;
        }
    }

    .product-list {
        &__sort-label {
            font-size: 12px;
            line-height: 15px;

            &:before {
                margin-right: 10px;
            }
        }
    }

    .product-item {
        &__price {
            width: 100%;
            text-align: center;
            margin: 20px 0;
        }

        &__counter {
             margin-top: 0;
        }

        &__props {
            flex-wrap: wrap;
        }

        &__btn {
            background: url('../images/icons/cart-empty.svg') center center no-repeat;
            background-size: contain;
            width: 40px;
            height: 40px;
            font-size: 0;
            align-self: flex-start;

            &:hover {
                background: url('../images/icons/cart-empty.svg') center center no-repeat;
                background-size: contain;
            }
        }
    }
}

@media (max-width: 480px) {
    .title1 {
        font-size: 18px;
        line-height: 23px;
    }

    .title2 {
        font-size: 28px;
        line-height: 35px;
    }

    .title3 {
        font-size: 18px;
        line-height: 23px;
    }

    .text {
        font-size: 14px;
        line-height: 18px;
    }

    .header {
        height: 120px;

        &__top-content {
            padding-top: 15px;
        }

        &__bottom-content {
            padding-top: 5px;
        }

        &_reduced {
            height: 71px;
        }
    }

    .menu {
        &__cart-btn {
            margin-left: 35px;
        }
    }

    .main {
        &__categories {
            margin-top: 40px;
        }
    }

    .slides {
        padding: 25px 0 0;
    }

    .breadcrumb {
        padding: 15px 12px 0;

        &__link {
            font-size: 12px;
            line-height: 15px;
        }

        &__separator {
            margin: 0 5px;
        }
    }

    .features {
        padding-top: 45px;

        &__name {
            font-size: 22px;
            line-height: 26px;
        }

        &__text {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .message {
        font-size: 24px;
        line-height: 32px;
    }

    .scopes {
        padding: 45px 15px 0;

        &__item {
            margin: 25px 0;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__item-inf {
            margin-left: 0;
            margin-top: 15px;
        }

        &__item-text {
            font-size: 16px;
            line-height: 26px;
        }

        &__img {
            max-width: 210px;
        }

        &__btn {
            margin-top: 35px;
        }
    }

    .cards {
        padding: 60px 20px 0;

        &__title2 {
            margin-bottom: 40px;
        }
    }

    .card {
        &__name {
            margin-top: 10px;
        }

        &__text {
            margin-bottom: 30px;
        }
    }

    .categories {
        padding: 0 40px;

        &__name {
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
            margin-bottom: 20px;
        }
    }

    .category {
        &__img {
            height: 160px;
        }
    }

    .single-category {
        padding: 55px 27px 0;

        &__title {
            margin-top: 40px;
            font-size: 28px;
            line-height: 35px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
        }
    }

    .callback {
        padding: 60px 25px 30px;
        
        &__title2 {
            font-size: 24px;
            line-height: 30px;
        }

        &__text {
            font-size: 16px;
            line-height: 20px;
        }

        &__content {
            padding: 28px 10px 23px;
        }

        &__message {
            font-size: 14px;
            line-height: 18px;
        }
        
        &__phone {
            font-size: 24px;
            line-height: 30px;
        }
    }

    .cb-form {
        &__label {
            font-size: 14px;
            line-height: 18px;
        }

        &__field {
            &_area {
                height: 130px;
            }
        }

        &__submit {
            width: 195px;
            font-size: 14px;
            line-height: 18px;
        }

        &__privacy-label {
            &:before {
                margin-right: 10px;
            }
        }

        &__privacy-text {
            font-size: 10px;
            line-height: 13px;
        }
    }

    .footer {
        &__copyright,
        &__privacy {
            font-size: 14px;
            line-height: 18px;
        }
    }

    .contacts {
        padding: 40px 12px 30px;

        &__name {
            display: none;
        }

        &__contact {
            margin-bottom: 20px;
        }

        &__contact.contact_phone,
        &__contact.contact_email {
            font-size: 18px;
            line-height: 23px;
        }

        &__tip {
            font-size: 12px;
            line-height: 15px;
            padding-left: 0;
            text-align: center;

            &:before {
                display: none;
            }
        }
    }

    .price-list {
        padding: 25px 20px 0;

        &__text {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .products {
        padding: 30px 12px 0;

        &__title2 {
            font-size: 20px;
            line-height: 25px;
            text-align: center;
        }

        &__item {
            margin: 10px 30px 0;
        }
    }

    .product-item {
        &__name {
            margin-bottom: 0;
        }

        &__prop {
            margin-top: 15px;
            width: 100%;
        }
    }

    .article {
        padding: 10px 12px 0;
    }
}