$fontFamily: 'Oxygen', sans-serif;


$wrapperWidth:      1170px;
$wrapperPadding:    15px;


$color-primary:     #1D843E;
$color-secondary:   #FF8A00;

$color-text:        #333333;

$color-danger:      #D41131;
$color-success:     #3FD411;
$color-warning:     #D8AE1C;

